.kg-card {
  margin: 7vw 0;
}

.kg-embed-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.kg-gallery-image>img {
  max-width: 100%;
  height: 100%;
}

.kg-image {
  max-width: 100%;
}